<h1>Property binding</h1>
<!-- <input type="text" [value]="studentname"> -->
<input type="text" [id]="myId" value="Hello">
<img [src]="image" alt="" width="200px" (click)="onClick()">

<h1>Class binding</h1>

<!-- <button class="color-class" [class.bold-class]="applyBoldClass">click</button> -->

<input [disabled]="false" type="text" id= {{myId}} value="Expertz">

<button [ngClass]="classToApply"  >click</button>

<h1 [style.color]="hasError? 'red':'blue'">Style Binding</h1>
<h1 [ngStyle]="titleStyles">Style Binding</h1>
<h1 [ngStyle]="{fontStyle: 'italic', color:'green'}">Style Binding</h1>




